
    /* svizzera */
/* https://upload.wikimedia.org/wikipedia/commons/0/08/Flag_of_Switzerland_%28Pantone%29.svg */

    /* italia */
/* https://upload.wikimedia.org/wikipedia/commons/thumb/0/03/Flag_of_Italy.svg/1200px-Flag_of_Italy.svg.png */

    /* germania */
/* https://upload.wikimedia.org/wikipedia/commons/b/ba/Flag_of_Germany.svg */

    /* francia */
/* https://upload.wikimedia.org/wikipedia/commons/c/c3/Flag_of_France.svg */

    /* spagna */
/* https://upload.wikimedia.org/wikipedia/commons/thumb/9/9a/Flag_of_Spain.svg/2000px-Flag_of_Spain.svg.png */


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    text-align: center;
    text-transform: uppercase;
    padding-top: 30px;
}


.container{
    padding: 30px;
    display: flex;
    justify-content: center;
    text-align: center;
}

img{
    height: 400px;
}

.container i{
    font-size: 50px;
}

.freccia{
    align-self: center;
    padding: 0 10px;
}

footer{
    text-align: center;
}