*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    text-align: center;
    text-transform: uppercase;
    padding-top: 30px;
}

.slider-bandiere{
    padding: 30px;
    display: flex;
    justify-content: center;
    text-align: center;
}

img{
    height: 400px;
}

.slider-bandiere i{
    font-size: 50px;
}

.freccia{
    align-self: center;
    padding: 0 10px;
}

.descrizione-bandiere{
    text-align: center;
    text-transform: uppercase;
    font-size: 30px;
}

.punti > i{
    font-size: 20px;
    text-align: center;
    padding: 10px;
}

#blu{
    color: blue;
}